<div #root class="landing-root">

  <app-nav></app-nav>
  <app-hero></app-hero>
  <app-testimonials></app-testimonials>
  <app-problema></app-problema>
  <app-paradigma></app-paradigma>
  <app-oferta></app-oferta>
  <app-blueprint></app-blueprint>
  <app-plan-del-mes></app-plan-del-mes>
  <app-seis-meses></app-seis-meses>
  <app-inversion></app-inversion>
  <app-compromiso></app-compromiso>
  <app-calificacion></app-calificacion>
  <app-video-ema-fran></app-video-ema-fran>
  <app-diagnostico></app-diagnostico>
  <app-instagram></app-instagram>
  <app-faq></app-faq>
  <app-footer></app-footer>
  <app-fixed-cta></app-fixed-cta>

</div>